html, body {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    align-items: center;
}

#about {
    margin-top: 150px;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.banner {
    width: 100%;
    position: fixed; /*Keeps the banner at the top of the page as you scroll down*/
    background-color: rgb(80, 0, 0); /*Aggie Maroon thx and gigem*/
    padding: 10px 0 10px 0;
    top: 0;
    margin: auto;
}

.banner-content {
    width: 1600px;
    display: flex;
    margin: auto;
    align-items: center;
}

#header-home {
    font-size: 36px;
    font-family: Georgia, serif;
    line-height: 34px;
}

#header-projects {
    font-size: 28px;
    font-family: Georgia, serif;
    line-height: 34px;
}

.flex-spacer {
    flex-grow: 1;
}

.header-item {
    font-size: 24px;
    line-height: 40px;
}

.spacer {
    width: 36px;
}

.header-icons {
    /*Image class for icons, so icons and main pic can be different sizes*/
    width: 64px;
    height: 64px;
}

.description {
    border: 5px solid black;
    margin:0 auto;
    width: 1000px;
    height: auto; /*Auto sizes the box to be the size of the text within.*/
    text-align: center;
}

span {
    font-family: Georgia, serif;
    font-size: 35px;
}

.main-picture {
    margin-top: 50px;
    width: 385px;
    height: 516px;
}

.dept-picture {
    margin-top: 50px;
    width: 444px;
    height: 78px;
}
